﻿<ion-header>
    <ion-navbar primary>
        <button menuToggle>
        <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>{{ "nested.reviewTitle" | translate }}</ion-title>
    </ion-navbar>

    <ion-toolbar>
        <ion-segment [(ngModel)]="reviewType">
            <ion-segment-button value="standard">
                {{ "nested.curveReview" | translate }}
            </ion-segment-button>
            <ion-segment-button value="new">
                {{ "nested.newInput" | translate }}
            </ion-segment-button>
            <ion-segment-button value="random">
                {{ "nested.random" | translate }}
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>
</ion-header>

<ion-content class="review">
    <div [ngSwitch]="reviewType">
        <div *ngSwitchCase="'standard'">
            <ion-list *ngFor="let reviewgroup of reviewItems">
                <ion-list-header *ngIf='checkDivider(reviewgroup)' light>{{reviewgroup.placeholder}}</ion-list-header>
                <ion-item-sliding #slidingItem  *ngFor="let reviewItem of reviewgroup.items">
                    <ion-item *ngIf="!!reviewItem" (click)="openReviewModal(reviewItem)" class="learningItem">
                        <ul>
                            <li class="sentence sentence-backgroud" *ngIf="checkSentence(reviewItem)">{{reviewItem && reviewItem.sentence}}</li>
                            <li class="list_words" *ngIf="checkWords(reviewItem)">
                                <div class="item_seperator" *ngFor="let word of reviewItem.words">{{word}}</div>
                            </li>
                            <li class="list_wordgroups" *ngIf="checkWordgroups(reviewItem)">
                                <div class="item_seperator" *ngFor="let wordgroup of reviewItem.wordgroups">{{wordgroup}}</div>
                            </li>
                            <li class="note" *ngIf="checkNotes(reviewItem)">{{reviewItem && reviewItem.note}}</li>
                        </ul>
                        <div style="width: 20%;" *ngIf="setting.showtags" item-right>
                            <div class="smallchips" *ngFor="let tag of reviewItem && reviewItem.tags">
                                {{tag && tag.name}}
                            </div>
                        </div>
                        <div item-right>
                            <button style="padding: 15px 12px" outline dark item-right (click)="doneReview(reviewItem)">
                                <ion-icon name="ios-checkmark" ></ion-icon>
                            </button>
                        </div>
                    </ion-item>
                    <ion-item-options>
                        <button favorite (click)="editLearningItem(reviewItem, slidingItem)">
                            <ion-icon name="create"></ion-icon> 
                    </button>
                    </ion-item-options>
                </ion-item-sliding>
            </ion-list>
        </div>

        <div *ngSwitchCase="'new'">
            <ion-list>
                <ion-item-sliding #slidingItem *ngFor="let reviewItem of newInputsItems">
                    <ion-item *ngIf="!!reviewItem" class="learningItem">
                        <ul>
                            <li class="sentence sentence-backgroud" *ngIf="checkSentence(reviewItem)">{{reviewItem && reviewItem.sentence}}</li>
                            <li class="list_words" *ngIf="checkWords(reviewItem)">
                                <div class="item_seperator" *ngFor="let word of reviewItem.words">{{word}}</div>
                            </li>
                            <li class="list_wordgroups" *ngIf="checkWordgroups(reviewItem)">
                                <div class="item_seperator" *ngFor="let wordgroup of reviewItem.wordgroups">{{wordgroup}}</div>
                            </li>
                            <li class="note" *ngIf="checkNotes(reviewItem)">{{reviewItem && reviewItem.note}}</li>
                        </ul>
                        <div class="searchPageTags" *ngIf="setting.showtags" item-right>
                            <div class="smallchips" *ngFor="let tag of reviewItem && reviewItem.tags">
                                {{tag && tag.name}}
                            </div>
                        </div>
                    </ion-item>
                    <ion-item-options>
                        <button favorite (click)="editLearningItem(reviewItem, slidingItem)">
                            <ion-icon name="create"></ion-icon> 
                    </button>
                    </ion-item-options>
                </ion-item-sliding>
            </ion-list>
        </div>
        <div *ngSwitchCase="'random'">
            <ion-refresher (ionRefresh)="doRefresh($event)">
            </ion-refresher>
            <ion-list>
                <ion-item-sliding #slidingItem *ngFor="let reviewItem of wordReviewItems">
                    <ion-item (click)="openReviewModalForWord(reviewItem.item)" class="learningItem">
                        <ul>
                            <li>{{reviewItem.singleword}}</li>
                        </ul>
                    </ion-item>
                    <ion-item-options>
                        <button favorite (click)="editLearningItem(reviewItem.item, slidingItem)">
                            <ion-icon name="create"></ion-icon> 
                    </button>
                    </ion-item-options>
                </ion-item-sliding>
            </ion-list>
        </div>
    </div>
</ion-content>