<ion-header>
  <ion-navbar primary>
    <button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
    <ion-title>{{ "nested.data" | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="data">
  <!--<button block (click)="deleteDatabase()">Delete ALL Data</button>-->

  <ion-list>
    <button ion-item (click)="saveToFile()">
      <ion-icon name="ios-document"></ion-icon>
      {{ "nested.saveToFile" | translate }}
    </button>
    <button ion-item (click)="syncFromFile()">
      <ion-icon name="ios-sync"></ion-icon>
      {{ "nested.syncFromFile" | translate }}
    </button>
    <button ion-item (click)="uploadToCloud()">
      <ion-icon name="ios-cloud-upload"></ion-icon>
      {{ "nested.uploadToCloud" | translate }}
    </button>
    <button ion-item (click)="syncFromCloud()">
      <ion-icon name="ios-cloud-download"></ion-icon>
      {{ "nested.syncFromCloud" | translate }}
    </button>
  </ion-list>

  <div padding class="data-info">
    <p>
      {{ "nested.dataDescription" | translate }}
    </p>
     <p>
      {{errMessage}}
    </p>
     <p>
      {{consoleMessage}}
    </p>
  </div>
</ion-content>