.data-info p {
  color: #697072;
  text-align: left;
}

.md,
.wp {
  .data-info [text-right] {
    margin-right: 0;
  }
}

.ios .data-info {
  text-align: center;
}

.ios .data-info ion-icon {
  width: auto;
  margin-right: 10px;
}
