// http://ionicframework.com/docs/v2/theming/


// App Shared Imports
// --------------------------------------------------
// These are the imports which make up the design of this app.
// By default each design mode includes these shared imports.
// App Shared Sass variables belong in app.variables.scss.

@import "../pages/home/home";
@import "../pages/input/input";
@import "../pages/review/review";
@import "../pages/search/search";
@import "../pages/tags/tags";
@import "../pages/about/about";
// used by Tags
.closebtn {
    padding-left: 10px;
    color: #888;
    font-weight: bold;
    float: right;
    font-size: 20px;
    cursor: pointer;
}
.closebtn:hover {
    color: #000;
}
.chip {
    display: inline-block;
    padding: 0px 25px;
    margin: 5px;
    height: 40px;
    font-size: 16px;
    line-height: 40px;
    border-radius: 25px;
    color : #fff;
    background-color: #34495E;
}
.sentence-backgroud {
    background-color:  #1ABC9C;
}
.sentence{
    white-space: initial;  // this one will wrap the content.
    padding: 3px;
    color: #34495e;
}
.list_words{
    white-space: initial;
    color: #fff;
    background-color:  #16A085;
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
    flex-wrap:wrap;
}
.words {
    white-space: initial;
    color: #fff;
    background-color:  #16A085;
}
.list_wordgroups {
    white-space: initial;
    color: #fff;
    background-color:  #2ECC71;
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
    flex-wrap:wrap;
}
.wordgroups {
    white-space: initial;
    color: #fff;
    background-color:  #2ECC71;
}
.searchPageTags{
    width: 20%;
}
.note {
    white-space: initial;
    color: #fff;
    background-color: #27AE60;
}
.smallchips {
    white-space: initial;
    display: inline-block;
    padding: 0px 5px;
    height: 18px;
    margin: 3px;
    font-size: 13px;
    line-height: 18px;
    border-radius: 10px;
    color : #fff;
    background-color: #34495E;
}
.learningItem li:first-child{
    border-radius: 6px 6px 0 0;
}
.learningItem li:last-child{
    border-radius: 0 0 6px 6px;
}
.learningItem li:first-child:last-child{
    border-radius: 6px 6px 6px 6px;
}
.learningItem li{
    padding: 5px;
}
.learningItem ul{
    margin: 0;
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction:column; 
}
.learningItem {
    flex: 1 1 auto;
}
.highlight{
    background-color:yellow;
    color:black;
}
.hide{
    display:'none';
}
.crop {
    width: parent;
    height: 150px;
    overflow: hidden;
}
.crop img {
    margin: 0 0 0 0;   // margin: -75px 0 0 -100px; can move the inner img around
}
.loginContent{
    background-image: url('../../img/login.png');
    background-repeat: no-repeat;
    background-position: 50% 55%;
}
.loginContent scroll-content{
    overflow-y: hidden;
}
.loginButtonParent{
    width:100%;
    position: absolute;
    bottom: 60px;
    display:flex;
    flex-direction:row;
    justify-content:center;
}
.loginButton{
    width:90%;
}
.copyright{
    position: absolute;
    bottom: 20px;
    display:flex;
    flex-direction:row;
    justify-content:center;
    width:100%;
}
.adviceTags{
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
    flex-wrap:wrap;
}
.adviceTransButtons{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
}
.tagBox{
    padding-right: 40px;
    display:flex;
    flex-direction:column;
    align-items:center;
}
.item_seperator{
    padding-right: 10px;
}
.item_seperator:after
{
  content: ",";
}
.item_seperator:last-child:after
{
  content: '';
}
.underscore_span{
    text-decoration: underline;
}