<ion-header>
  <ion-navbar primary>
    <button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
    <ion-title>{{ "nested.about" | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="about-header">
    <img src="https://englisheveryday.mybluemix.net/img/icon.png">
  </div>
  <div padding class="about-info">
    <h4>{{ "nested.aboutTitle" | translate }}</h4>

    <ion-list no-lines>
      <ion-item>
        <ion-label>{{ "nested.aboutAuthorEmail" | translate }}<a>englisheveryday@qq.com</a></ion-label>
        <div></div>
      </ion-item>

      <ion-item>
        <ion-label>{{ "nested.abouthomepage" | translate }}<a (click)="launch('https://englisheveryday.mybluemix.net')">https://englisheveryday.mybluemix.net/</a></ion-label>
        <div></div>
      </ion-item>
      <ion-item>
        <ion-label>{{ "nested.weixin" | translate }}<a (click)="launch('https://englisheveryday.mybluemix.net/#contact')">难忘英语</a></ion-label>
        <div></div>
      </ion-item>
       <ion-item>
        <ion-label>{{ "nested.aboutVersion" | translate }}<a> 0.0.2</a></ion-label>
        <div></div>
      </ion-item>
    </ion-list>
    <p>
      {{ "nested.aboutText" | translate }}
    </p>
    <p>
      Copyright 2016 by X.Y. Jiang
    </p>
  </div>
</ion-content>