<ion-header>
    <ion-toolbar primary>
        <ion-title>
            {{ "nested.movetoTitle" | translate }}
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-toolbar>
        <ion-searchbar primary (ionInput)="searchTags($event)" (ionCancel)="cancelSearch()" placeholder="{{ 'nested.targetTagSearch' | translate }}" showCancelButton="true"
            spellcheck="true">
        </ion-searchbar>
    </ion-toolbar>
    <div>
        <ion-list radio-group [(ngModel)]="selectedIndexofTagList">
            <ion-item>
                <ion-icon name="ios-arrow-back" *ngIf="isnotRootTag" (click)="goback()"></ion-icon>
                <span class="tagparent">{{listheader}}</span>
            </ion-item>
            <ion-item *ngFor="let tag of tagsList;let i = index"  (click)="drilldownOrSelect(tag)">
                <ion-label>{{tag.name}}</ion-label>
                <ion-radio value={{tag._id}}></ion-radio>  
            </ion-item>
        </ion-list>
    </div>
</ion-content>
<ion-footer>
    <ion-toolbar  light position="bottom">
        <button royal (click)="confirm()">{{ "nested.newTagSave" | translate }}</button>
         <button royal (click)="cancel()">{{ "nested.newTagCancel" | translate }}</button>
    </ion-toolbar>
</ion-footer>