<!-- logged in menu -->
<ion-menu *ngIf="checkipcEvent()" [content]="content">

    <ion-toolbar>
        <ion-title>{{ "nested.menu" | translate }}</ion-title>
    </ion-toolbar>

    <ion-content class="outer-content">

        <ion-list>
            <ion-list-header>
                {{ "nested.navigate" | translate }}
            </ion-list-header>
            <button ion-item menuClose (click)="openPage(appPages[0])">
                <ion-icon item-left name="star"></ion-icon>
                {{ "nested.homeTab" | translate }}
            </button>
            <button ion-item menuClose (click)="openPage(appPages[1])">
                <ion-icon item-left name="book"></ion-icon>
                {{ "nested.reviewTab" | translate }}
            </button>
            <button ion-item menuClose (click)="openPage(appPages[2])">
                <ion-icon item-left name="create"></ion-icon>
                {{ "nested.inputTab" | translate }}
            </button>
            <button ion-item menuClose  (click)="openPage(appPages[3])">
                <ion-icon item-left name="search"></ion-icon>
                {{ "nested.searchTab" | translate }}
            </button>
        </ion-list>

        <ion-list>
            <ion-list-header>
                {{ "nested.other" | translate }}
            </ion-list-header>
             <button ion-item menuClose (click)="openPage(loggedInPages[0])">
                <ion-icon item-left name="person"></ion-icon>
                {{ "nested.account" | translate }}
            </button>
            <button ion-item menuClose (click)="openPage(loggedInPages[1])">
                <ion-icon item-left name="information-circle"></ion-icon>
                {{ "nested.about" | translate }}
            </button>
            <button ion-item menuClose (click)="openPage(loggedInPages[2])">
                <ion-icon item-left name="cube"></ion-icon>
                {{ "nested.data" | translate }}
            </button>
        </ion-list>
         <ion-list>
              <ion-item>
                <ion-label>{{ "nested.inChinese" | translate }}</ion-label>
                <ion-toggle [(ngModel)]="isInChinese" (ionChange)="changeLanguage()" disabled="false"></ion-toggle>
            </ion-item>
        </ion-list>

    </ion-content>

</ion-menu>


<!-- main navigation -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
