<ion-header>
    <ion-navbar primary>
        <button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>{{ "nested.account" | translate }}</ion-title>
    </ion-navbar>

</ion-header>

<ion-content class="loginContent" *ngIf="!auth.authenticated()">
    <div class="loginButtonParent">
        <button class="loginButton" block primary (click)="auth.login()">Login</button>
    </div>
    <div class="copyright">
        <p>
            Copyright 2016 by X.Y. Jiang
        </p>
    </div>
</ion-content>

<ion-content padding *ngIf="auth.authenticated()">

    <ion-card>

        <ion-item *ngIf="auth.user">
            <ion-avatar item-left>
                <img src="{{ auth.user.picture }}">
            </ion-avatar>
            <h2>{{ auth.user.nickname }}</h2>
            <p>{{ auth.user.email }}</p>
        </ion-item>

    </ion-card>

    <button block (click)="auth.logout()">Logout</button>
    <p>
        {{ "nested.loginOut" | translate }}
    </p>

</ion-content>