﻿<ion-header>
    <ion-navbar primary>
        <button menuToggle>
        <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>{{ "nested.searchTitle" | translate }}</ion-title>
        <ion-buttons end>
            <button (click)="presentPopover($event)">
                 <ion-icon name="options"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
    <ion-toolbar>
        <ion-searchbar primary *ngIf="checkingNewplaceBar()" [(ngModel)]="searchValue" (ionCancel)="cancelSearch()"
            placeholder="{{searchBarPlaceholder}}" showCancelButton="true" spellcheck="true">
        </ion-searchbar>
    </ion-toolbar>
</ion-header>

<ion-content class="search">

    <ion-card *ngIf="setting.showtags">
        <ion-item>
            <button large outline item-left (click)="selectTagsFilter()" >{{ "nested.selectTags" | translate }}</button>
        </ion-item>
        <ion-card-content>
            <div class="chip" *ngFor="let tag of selectedTags">
                {{tag.name}}
                <span class="closebtn" (click)="deleteSelectedTag(tag)">&times;</span>
            </div>
        </ion-card-content>
    </ion-card>

    <ion-list>
        <ion-item-sliding #slidingItem *ngFor="let learningItem of learningItems">
            <ion-item (click)="openDetailModal(learningItem)" class="learningItem">
                <ul>
                    <li class="sentence sentence-backgroud searchscope" *ngIf="learningItem.sentence && setting.showSentence">{{learningItem.sentence}}</li>
                    <li class="list_words" *ngIf="learningItem.words[0] && setting.showWords">
                        <div class="item_seperator searchscope" *ngFor="let word of learningItem.words">{{word}}</div>
                    </li>
                    <li class="list_wordgroups" *ngIf="learningItem.wordgroups[0] && setting.showWordgroups" >
                         <div class="item_seperator searchscope"  *ngFor="let wordgroup of learningItem.wordgroups">{{wordgroup}}</div>
                    </li>
                    <li class="note searchscope" *ngIf="learningItem.note && setting.shownotes">{{learningItem.note}}</li>
                </ul>
                <div class="searchPageTags" *ngIf="setting.showtags" item-right>
                    <div class="smallchips" *ngFor="let tag of learningItem.tags">
                        {{tag && tag.name}}
                    </div>
                </div>
            </ion-item>
            <ion-item-options>
                <button danger (click)="deleteLearningItem(learningItem, slidingItem)">
                        <ion-icon name="trash"></ion-icon> 
                </button>
                <button secondary (click)="editLearningItem(learningItem, slidingItem)">
                        <ion-icon name="create"></ion-icon> 
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
</ion-content>