﻿<ion-header>
    <ion-navbar primary>
        <button menuToggle>
        <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>{{ "nested.channels" | translate }}-{{seletedChannel.selected}}</ion-title>
        <ion-buttons end>
            <button (click)="presentPopover($event)">
                 <ion-icon name="options"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content *ngIf=listenOnChannelChanges()>
    <ion-list>
        <ion-card *ngFor='let item of adviseLearningItems'>
            <div (click)='learnThisone(item)' class="crop">
                <img [src]='item.imagesrc' />
            </div>
            <ion-card-content>
                <ion-card-title *ngIf="!item.showHint" (click)='learnThisone(item)' [innerHTML]="renderMarkedWithoutHint(item.sentence)"></ion-card-title>
                <ion-card-title *ngIf="item.showHint" (click)='learnThisone(item)' [innerHTML]="renderMarkedWithHint(item.sentence)"></ion-card-title>
                <p *ngIf="item.showWhole" [innerHTML]="hasWholeTranslation(item.sentence)"></p>
                <div class="adviceTransButtons">
                    <button *ngIf="hasHintTranslation(item.sentence) && !item.showHint" (click)="showHint(item)" style="height: 30px" outline primary>{{ "nested.translationHint" | translate }}</button>
                    <button *ngIf="hasWholeTranslation(item.sentence) && !item.showWhole" (click)="showTranslation(item)" style="height: 30px" outline primary>{{ "nested.translationWhole" | translate }}</button>
                </div>
                <div class="adviceTags" *ngIf="setting.showTagsHelper" (click)='learnThisone(item)'>
                    <div class="tagBox" *ngIf="!!item.possibleTags[0]">
                        {{ "nested.adviceTagSource" | translate }}
                        <div class="smallchips">
                            {{item.possibleTags[0]}}
                        </div>
                    </div>
                    <div class="tagBox" *ngIf="!!item.possibleTags[1]">
                        {{ "nested.adviceTagTheme" | translate }}
                        <div class="smallchips">
                            {{item.possibleTags[1]}}
                        </div>
                    </div>
                    <div class="tagBox" *ngIf="!!item.possibleTags[2]">
                        {{ "nested.adviceTagContent" | translate }}
                        <div class="smallchips">
                            {{item.possibleTags[2]}}
                        </div>
                    </div>
                    <div class="tagBox" *ngIf="!!item.possibleTags[3]">
                        {{ "nested.adviceTagOthers" | translate }}
                        <div class="smallchips">
                            {{item.possibleTags[3]}}
                        </div>
                    </div>
                </div>
            </ion-card-content>
        </ion-card>
    </ion-list>
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content loadingSpinner="bubbles"></ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>