﻿<ion-header>
    <ion-navbar primary>
        <button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>{{ "nested.inputTab" | translate }}</ion-title>
        <ion-buttons end>
            <button style="padding: 5px 10px" (click)="backToDefaultState()">{{ "nested.clear" | translate }}
                <ion-icon name="trash"></ion-icon>
            </button>
            <button style="padding: 5px 10px" (click)="save()">{{ "nested.save" | translate }}
                <ion-icon name="create"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <!-- Sentence first  -->
    <ion-card>
        <ion-item style="background-color: #1ABC9C">
            <b style="color: #fff" item-left (click)="addOrRemoveSentence()">{{ "nested.sentence" | translate }}</b>
            <button style="padding: 5px 10px" outline dark item-right (click)="tts()">
                {{ "nested.read" | translate }}
            </button>
            <button style="padding: 5px 10px" outline dark item-right (click)="addOrRemoveSentence()">
                <ion-icon name="{{sentenceIconName}}" ></ion-icon>
            </button>
        </ion-item>
        <ion-list *ngIf="isSentenceNeed">
            <textarea id="input_sentence" ion-item stype="padding:3px; background-color: #1ABC9C" class="text-input ng-valid ng-dirty ng-touched" autosize
                autocomplete="off" autocorrect="off" type="text" [(ngModel)]="sentence" placeholder="Write the sentence"></textarea>
        </ion-list>
    </ion-card>

    <!-- words second  -->
    <ion-card class="words">
        <ion-item style="background-color: #16A085">
            <b style="color: #fff" item-left>{{ "nested.words" | translate }}</b>
            <button style="padding: 5px 10px" outline dark item-right (click)="oneMoreWordOrRemove()">
                <ion-icon name="{{wordIconName}}" *ngIf="checkWordsState()" ></ion-icon>
            </button>
        </ion-item>
        <ion-list *ngIf="isWordNeed">
            <ion-item *ngFor="let word of words;let i = index">
                <ion-label class="roundnumber">{{i+1}}</ion-label>
                <ion-input type="text" [(ngModel)]="word && word.thing"></ion-input>
                <button style="padding: 5px 10px" (click)="noteHelp(word.thing)" outline item-right>
                    {{ "nested.appendToNote" | translate }}
                </button>
                <button style="padding: 5px 10px" (click)="translate(word.thing)" outline item-right>
                    {{ "nested.tranlate" | translate }}
                </button>
            </ion-item>
        </ion-list>
        <!--<div>translation is {{translation}}</div>  -->
    </ion-card>

    <!-- wordgroup third  -->
    <ion-card class="wordgroups">
        <ion-item style="background-color: #2ECC71">
            <b style="color: #fff" item-left>{{ "nested.wordGroups" | translate }}</b>
            <button style="padding: 5px 10px" outline dark item-right (click)="oneMoreWordgroupOrRemove()">
                <ion-icon name="{{wordgroupIconName}}" *ngIf="checkWordGroupsState()" ></ion-icon>
            </button>
        </ion-item>
        <ion-list *ngIf="isWordGroupNeed">
            <ion-item *ngFor="let wordgroup of wordgroups;let i = index">
                <ion-label class="roundnumber">{{i+1}}</ion-label>
                <ion-input type="text" [(ngModel)]="wordgroup && wordgroup.thing"></ion-input>
                <button style="padding: 5px 10px" (click)="noteHelp(wordgroup.thing)" outline item-right>
                    {{ "nested.appendToNote" | translate }}
                </button>
                <button style="padding: 5px 10px" (click)="translate(wordgroup.thing)" outline item-right>
                    {{ "nested.tranlate" | translate }} 
                </button>
            </ion-item>
        </ion-list>
    </ion-card>

    <!-- Note  -->
    <ion-card class="note">
        <ion-item style="background-color: #27AE60">
            <b style="color: #fff" item-left>{{ "nested.note" | translate }}</b>
            <button style="padding: 5px 10px" outline dark item-right (click)="addOrRemoveNote()">
                <ion-icon name="{{noteIconName}}"></ion-icon>
            </button>
        </ion-item>
        <ion-list *ngIf="isNoteNeed">
            <textarea ion-item class="text-input ng-valid ng-dirty ng-touched" autosize autocomplete="off" autocorrect="off" type="text"
                [(ngModel)]="note" placeholder="Some notes maybe?"></textarea>
        </ion-list>
    </ion-card>

    <!-- Tags  -->
    <ion-card>
        <ion-item style="background-color: #9b59b6">
            <b style="color: #fff" item-left>{{ "nested.tags" | translate }}</b>
            <ion-badge *ngIf='!!possibleTagsfromAdvice && possibleTagsfromAdvice.length > 0' danger item-right>{{badgeAccount}}</ion-badge>
            <button style="padding: 5px 10px" outline dark item-right (click)="addTags()">
                <ion-icon  name="md-add" ></ion-icon>  
            </button>
            <!--[style.color]="crosecolor"   Try using badge in the real device!-->
        </ion-item>
        <ion-list *ngIf="isTagSectionNeed">
            <div class="chip" *ngFor="let tag of tags">
                {{tag.name}}
                <span class="closebtn" (click)="deleteTag(tag)">&times;</span>
            </div>
        </ion-list>
    </ion-card>
</ion-content>