<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button (click)="toggleLanguage()" primary>English/中文</button>
    </ion-buttons>
    <ion-buttons end *ngIf="showSkip">
      <button (click)="startApp()" primary>{{ "nested.skip" | translate }}</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-slides [options]="{pager: true}" (ionWillChange)="onSlideChangeStart($event)">
    <ion-slide >
      <img src="https://englisheveryday.mybluemix.net/img/brain.jpg" alt="" class="slide-image"/>
      <h2 class="slide-title" >{{ "nested.turorialT1" | translate }}</h2>
      <p>{{ "nested.turorialP1" | translate }}</p>
    </ion-slide>
    <ion-slide >
      <img src="https://englisheveryday.mybluemix.net/img/pieces.jpg" alt="" class="slide-image"/>
      <h2 class="slide-title" >{{ "nested.turorialT2" | translate }}</h2>
      <p>{{ "nested.turorialP2" | translate }}</p>
    </ion-slide>
    <ion-slide >
      <button large (click)="launch('https://englisheveryday.mybluemix.net/#portfolio')">
        {{ "nested.checkHostPage" | translate }}
        <ion-icon name="search"></ion-icon>
      </button>
      <h2 class="slide-title" >{{ "nested.turorialT3" | translate }}</h2>
      <p>{{ "nested.turorialP3" | translate }}</p>
    </ion-slide>
    <ion-slide>
      <img src="https://englisheveryday.mybluemix.net/img/icon.png" alt="" class="slide-image" />
      <h2 class="slide-title">{{ "nested.readytoStart" | translate }}</h2>
      <button large clear (click)="startApp()">
        {{ "nested.continue" | translate }}
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
    </ion-slide>
  </ion-slides>
</ion-content>