<ion-header>
    <ion-toolbar primary>
        <ion-title>
            {{ "nested.tagsTitle" | translate }}
        </ion-title>

        <ion-buttons *ngIf='!overallEditingMode' end>
            <button royal (click)="toggleoverallEdit()">
                {{ "nested.tagMove" | translate }}
            </button>
            <button royal (click)="addTag()">
                {{ "nested.tagAdd" | translate }}
            </button>
        </ion-buttons>
        <ion-buttons *ngIf='overallEditingMode' end>
            <button royal (click)="toggleoverallEdit()">
                 {{ "nested.tagCancel" | translate }}
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-card>
        <ion-item>
            <b item-left>{{ "nested.tagSelected" | translate }}</b>
        </ion-item>
        <ion-card-content>
            <div class="chip" *ngFor="let tag of selectedTags">
                {{tag.name}}
                <span class="closebtn" (click)="deleteSelectedTag(tag)">&times;</span>
            </div>
        </ion-card-content>
    </ion-card>
    <ion-toolbar>
        <ion-searchbar primary (ionInput)="searchTags($event)" (ionCancel)="cancelSearch()" placeholder="{{ 'nested.tagSearch' | translate }}" showCancelButton="true"
            spellcheck="true">
        </ion-searchbar>
    </ion-toolbar>
    <div>
        <ion-list>
            <ion-item style='flex-direction:row;align-content:flex-start;align-items:baseline'>
                <div *ngIf="isnotRootTag" (click)="goback()">
                     <ion-icon name="ios-arrow-back" ></ion-icon>
                     <span>{{ "nested.tagBack" | translate }}</span>
                </div>
                <div style='flex-grow:1;color: #369;font-size: 20px; ' (click)="selectThisParentTag()" item-right>{{listheader}}</div>
            </ion-item>
            <ion-item-sliding *ngFor="let tag of tagsList;let i = index" #slidingItem>
                <ion-item (click)="drilldownOrSelect(tag)">
                    <ion-label>{{tag.name}}</ion-label>
                    <ion-icon *ngIf='!overallEditingMode && hasChildren(tag)' name="ios-arrow-forward" item-right></ion-icon>
                    <ion-checkbox *ngIf='overallEditingMode' [(ngModel)]="readyToMoveindexbooleanList[i]" dark></ion-checkbox>
                </ion-item>
                <ion-item-options>
                    <button danger (click)="removeTag(tag,slidingItem)">
                        <ion-icon name="trash"></ion-icon> 
                    </button>
                    <button favorite (click)="renameTag(tag,slidingItem)">
                        <ion-icon name="build"></ion-icon> 
                    </button>
                    <button primary (click)="addChildTag(tag,slidingItem)">
                        <ion-icon name="code-working"></ion-icon> 
                    </button>
                </ion-item-options>
            </ion-item-sliding>
        </ion-list>
    </div>
</ion-content>
<ion-footer>
    <ion-toolbar light position="bottom">
        <button *ngIf='!overallEditingMode' block (click)="applyTags()">{{ "nested.tagConfirm" | translate }}</button>
        <button *ngIf='overallEditingMode' block (click)="moveto()">{{ "nested.tagMoveConfirm" | translate }}</button>
    </ion-toolbar>
</ion-footer>