﻿<ion-tabs *ngIf='checkBadgeState()' [selectedIndex]="mySelectedIndex">
  <ion-tab [root]="tab1Root" tabTitle="{{ 'nested.homeTab' | translate }}" tabIcon="star"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="{{ 'nested.reviewTab' | translate }}" [tabBadge]='needToReviewItemsCount' tabBadgeStyle="danger" tabIcon="book"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="{{ 'nested.inputTab' | translate }}" tabIcon="create"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="{{ 'nested.searchTab' | translate }}" tabIcon="search"></ion-tab>
</ion-tabs>
